* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #23395d;
}

header {
    background-color: #36454F;
    padding: 15px;
}

nav {
    color: #80c0c0;
}

header h1 {
    background-color: #80c0c0;
    width: 300px;
    text-align: right;
    padding: 10px;
    margin-top: 15px;
}

.banner img {
    width: 1107px;
    height: 300px;
}

h2 {
    position: absolute;
    right: 20px;
    top: 420px;

}

.about_me h1 {
    float: left;
}

.about_me img {
    width: 300px;
    height: 250px;
}

.about_me p {
    color: black;
}

a {
    text-decoration:none;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

nav a {
    color: #80c0c0;
}

ul {
    list-style: none;
}

.contact_me a {
    color: #23395d;
}

#about_me {
    font-size: xx-large;
}

#work {
    font-size: xx-large;
}

#contact_me {
    font-size: xx-large;
}

#project_1 p, #project_2 p, #project_3 p, #project_4 p, #project_5 p {
    background-color: #80c0c0;
    overflow-wrap:break-word;
}