/* Navbar */
.nav-item {
    text-decoration: underline;
    margin: 2px;
}

/* Banner */
.banner {
    height: 30rem;
    width: 100%;
    margin-bottom: 25px;
    background-image: url('../images/union-station.jpg');
    background-size: cover;
    position: relative;
}

/* About Me */

/* My Work */

/* Contact Me */
.contact {
    border-right: 3px solid black;
    padding: 5px;
    margin: 10px;
}

.nav-footer {
    font-size: 30px;
    color: navy;
    text-decoration: underline;
}